<p>Ciao <%= @resource.name %>!</p>

<p>Di seguito trovi il link per impostare la tua password.</p>

<p><%= link_to 'Imposta Password', edit_password_url(@resource, reset_password_token: @token, config: message['client-config'].to_s, redirect_url: "#{ENV['DEVISE_PASSWORD_RESET_URL']}").html_safe %></p>

<p>Ricorda che la tua password è strettamente personale e non va divulgata.<br/>
A presto e buon lavoro</p>